/*
--- 01 Typography System

  ## FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 
    20 / 24 / 30 / 36 / 44 / 52 / 62 /
     74 / 86 / 98 
    
  ## Font Weight
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700
  
  ## Letter Spacing
  0.75px , -0.5px

  ## Line-Height
    Defalt: 1
    Large-Text: 1.05
    medium: 1.2
    Large: 1.8
    Small-text / Medium-text: 1.6


--- 02 Colors:
### Primary


### Neutral

--- 05 Shadows
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
   
--- 06 border-radius
    Default: 0.9rem
    medium: 1.1rem

    
--- 07 White-space
     SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 
    48 / 64 / 80 / 96 / 128



    font family -body:   font-family: "Young Serif", serif;
             -heading:  font-family: "Poppins", sans-serif;
             */

/* transform: translate(-50%, 20%) skewY(-6deg) */

/* ### Primary

- Orange: hsl(26, 100%, 55%)
- Pale orange: hsl(25, 100%, 94%)

### Neutral

- Very dark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */

/*

/* GENERAL */
:root {
	--main-light-color-: #fdf2e9;
	--main-light-gray-color-: #ebebeb;
	--nav-color--: #dccbe6;
	--light-gray: #777;
	--light-purpul--: #dccbe6;
	--white--: #fff;
	--black--: #000;
	--black-with-obacity--: rgba(0, 0, 0, 0.75);
	--very-dark-gray--: #333;
	--linear-background--: linear-gradient(
		to top left,
		var(--main-light-gray-color-),
		var(--light-purpul--)
	);
}
body.dark-mode {
	--main-light-color-: #121b22;
	--light-gray: #e6e6e6;
	--nav-color--: #424242;

	--main-light-gray-color-: #ebebeb;
	--light-purpul--: #dccbe6;
	--white--: #424242;
	--black--: #000;
	--black-with-obacity--: rgba(0, 0, 0, 0.75);
	--very-dark-gray--: #fff;
	--linear-background--: linear-gradient(
		to top left,
		var(--main-light-gray-color-),
		var(--light-purpul--)
	);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	transition: all 0.3s;
}

*:focus {
	outline: 2px solid var(--dark-gray--);
}

::selection,
::-webkit-selection {
	color: #fff;
	background-color: #f1c302;
}

body {
	font-family: "Kumbh Sans", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;
	color: var(--very-dark-gray--);
	overflow-x: hidden;
	position: relative;
	transition: all 0.3s;
	background-image: var(--linear-background--);
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}

/* Hidden Class */
.hidden {
	display: none;
	opacity: 0;
	visibility: hidden;
}
/* Navigation */
header {
	border-top-left-radius: 1.2rem;
	border-top-right-radius: 1.2rem;
	background-color: var(--main-light-color-);
}
.navigation {
	margin: 2.4rem 4.8rem 0rem 4.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 2.4rem;
	transition: all 0.3s ease-in;
}
.right-navs-list {
	list-style: none;
	display: flex;
	gap: 2.4rem;
	align-items: center;
	transition: all 0.3s ease-in;
}

.logo {
	width: 15rem;
}

/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
.section-container {
	padding: 6.4rem 0 9.6rem 0;
	margin: 0 4.8rem;
}
.collections-section {
	background-color: var(--main-light-color-);
}
.collec-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* align-items: center; */
	justify-content: center;
	gap: 2.4rem;
}

.section-title {
	text-align: center;
	font-size: 3.2rem;
	margin-bottom: 7.4rem;
	color: #f1c302;
}

.one-collec-container {
	background-color: var(--main-light-gray-color-);
	background-color: var(--white--);
	border-radius: 1.2rem;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	transition: all 0.4s;
	text-decoration: none;
	color: inherit;
	padding: 3.2rem;
	box-shadow: 0 0 0 1px #f1c302;
}

.collec-img {
	width: 30rem;
	height: 41rem;
	border-radius: 1.2rem;
	box-shadow: 0 0 0 1px #f1c302;
}
.collec-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.collec-description {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	/* margin: 0 auto; */
	padding-top: 3.2rem;
}
.collec-title {
	font-size: 2.4rem;
}
.prices {
	display: flex;
	gap: 1.2rem;
}
.prices-nums {
	display: flex;
	align-items: center;
	gap: 4.8rem;
}
.svg-icon {
	width: 2.4rem;
	stroke: #f1c302;
}

.current-price {
	font-size: 2.4rem;
	font-weight: 700;
}
.old-price {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--light-gray);
}

.colors {
	display: flex;
	gap: 1.2rem;
}
.color-span {
	content: "";
	display: inline-block;
	padding: 1rem;
	background-color: #000;
	border-radius: 50%;
	/* border: 4px solid var(--light-purpul--); */
	box-shadow: 0 0 0 2px #f1c302;
	transition: all 0.3s;
}

/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
.one-collect-view {
	position: absolute;
	max-width: 60rem;
	height: auto;
	background-color: var(--white--);

	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	border-radius: 1.2rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 3.2rem;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	z-index: 1000;
}
.one-collect-view-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.close-icon {
	align-self: flex-end;
	width: 3.8rem;
	stroke: #f1c302;
}
.close-btn {
	width: 4.2rem;
	display: flex;
	align-self: flex-end;
	color: #f1c302;
	font-size: 4rem;
	background-color: var(--white--);
	border: none;
}
.phone-num {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	gap: 1.2rem;
}
.phone-number {
	text-decoration: none;
	color: inherit;
	font-size: 2rem;
	font-weight: 600;
}
.Contact-with-us-title {
	font-size: 2.8rem;
	color: #f1c302;
}
.contact {
	transform: translateX(1.6rem);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
	filter: blur(50rem);
	transition: all 0.3s ease;
}

.active-color {
	transform: translateY(-0.6rem);
}

.moon-btn {
	background-color: inherit;
	border: none;
	outline: none;
	width: 6.4rem;
}
.moon-icon {
	stroke: #f1c302;
	fill: var(--main-light-color-);
	transition: all 0.3s;
}
.moon-fill {
	fill: #f1c302;
	stroke: #f1c302;
}

.open-menu,
.close-menu {
	width: 4.8rem;
	cursor: pointer;
	transition: all 0.3s ease;
	color: #f1c302;
}
